.content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    margin: 2rem;
}
.content-flex{
    box-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(234, 234, 234);
    min-height: 60vh;
    height: auto;
    color: white;
    /* background-color: aliceblue; */
    border-radius: 100px;
}
.grid-content{
    display: flex;
    min-height: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    /* flex-direction:row; */
}
.grid-content:nth-child(even) {
    flex-direction: row-reverse;
  }
.grid-content-inside{
    margin: 2rem;
    height: auto;
    /* padding: 2%; */
    min-height: 80%;
    width: auto;
    min-height: 80%;
}
.content-flex:hover{
    box-shadow: 1px 1px 2px black, 0 0 25px #6459b6, 0 0 5px #6459b6;
}