.connect{
    text-align: center;
    justify-content: center;
    font-size: x-large;
    padding-bottom: 2rem;
    color: aliceblue;
}
input{
    align-content: center;
    width:50vw;
}
.connect:hover{
    background-color: gray;
    transition: 2s;
}