.home{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}
.Home_row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;

}
.Home_image{
    width: 100%;
    z-index:-1;
    margin-bottom: 2rem;
    mask-image: linear-gradient(to bottom, rgb(114, 110, 110), rgba(97, 94, 94, 0));
    height: 130vh;
    width: 100vw;
    background-size: cover;
}
